* {
    margin: 0 auto;
    padding: 0;
}

body {
font-family: 'Ubuntu', sans-serif;
width: 100%;
height: 600px;
left: 0px;
top: 0px;
background: url(../images/background.png);
}

.logo-txt {
position: absolute;
width: 157px;
height: 22px;
left: 79px;
top: 18px;
font-weight: 700;
font-size: 22px;
line-height: 22px;
display: flex;
align-items: center;
color: white;
}

.header-contant-container {
font-family: 'Ubuntu';
font-style: normal;
background: rgba(0, 0, 0, 0.4);
width: 100%;
height: 58px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.txt1 {
position: absolute;
width: 108px;
height: 22px;
left: 1111px;
top: 18px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center; 
color: #FFFFFF;
}

.txt2 {
position: absolute;
width: 68px;
height: 14px;
left: 1219px;
top: 22px; 
font-weight: 400;
font-size: 14px;
line-height: 14px;    
display: flex;
align-items: center;   
color: #FFFFFF;    
}

.header-link {
padding: 3px;
color: #FFFFFF;
font-weight: 400;
font-size: 14px;
text-decoration: none;
}

.logo-txt:hover  {
color: #01813F;
}

.header-link:hover {
color: #01813F;
}

.header-svg {
position: absolute;
left: 935px;
top: 18px;
gap: 25px;
display: flex;
}

.header-svg::after {
content: '';
width: 1px;
height: 19px;
top: 20px;
background: rgba(255, 255, 255, 0.9);
mix-blend-mode: normal;
opacity: 0.5;
}

svg path:hover{
fill: #01813F;
}

.form-container {
position: relative;
display: flex; 
justify-content: center;
align-items: center;
margin-top: 111px;
}

form {
display: block;
background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
width: 444px;
height: 584px;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 53px ;
padding: 30px 60px;
position: relative;

}

.sign-up {
align-items: center;
text-align: center;
color: #434343;
width: 69px;
height: 31px;
left: 61px;
top: 31px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
position: relative;
}

.sign-up::before {
content: '';
position: absolute;
width: 18px;
height: 18px;
left: -89%;
background: #3CB878;
}

.log-in {
color:  rgba(60, 184, 120, 1);
text-decoration: none;
width: 39px;
height: 14px;
left: 285px;
top: 33px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
align-items: center;
position: relative;    
}

.log-in:hover {
color: #01813F;
text-decoration: underline;   
}

.or-line {
width: 15px;
height: 14px;
left: 220px;
top: 139px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
align-items: center;   
color: #848484;
position: relative; 
display: flex;
}

.or-line::before {
content: '';
width: 150px;
height: 0px;
border: 1px solid #F2F2F2;
position: absolute;
background: #F2F2F2;
left: -160px;
}

.or-line::after {
content: '';
width: 150px;
height: 0px;
border: 1px solid #F2F2F2;
position: absolute;
background: #F2F2F2;
left: 20px;
}

.btn-facebook {
position: relative;
width: 160px;
height: 48px;
left: 60px;
top: 30px;
background: #305DB8;
border: none;
border-radius: 5px;
cursor: pointer;
}


.btn-facebook:hover {
background: #022263;
}

.logo-facebook {
background: url(../images/f\ 1.png);
background-repeat: no-repeat;
position: absolute;
width: 30px;
height: 25px;
left: 12px;
top: 15px;
}

.logo-facebook::after {
content: '';
position: absolute;
width: 1px;
height: 28px;
left: 31px;
top: 0px;
background: #0A162F;
mix-blend-mode: normal;
opacity: 0.1;
}

.logo-f-txt {
position: absolute;
width: 71px;
height: 14px;
left: 67px;
top: 17px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
text-decoration: none;
}

.btn-google {
position: relative;
background: #DF4A32;
border: none;
border-radius: 5px;
height: 48px;
width: 160px;
left: 70px;
top: 30px; 
cursor: pointer;
}

.btn-google:hover {
background: #AB1F09;
}

.logo-google {
background: url(../images/G+.png);
background-repeat: no-repeat;
position: absolute;
width: 30px;
height: 19px;
left: 12px;
top: 15px;
}

.logo-google::after {
content: '';
position: absolute;
background: #2B0D09;
width: 1px;
height: 28px;
left: 40px;
top: 0px;
mix-blend-mode: normal;
opacity: 0.1;
}

.logo-g-txt {
position: absolute;
width: 53px;
height: 14px;
left: 80px;
top: 17px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center; 
color: #FFFFFF;
text-decoration: none;   
}

.create-txt {
text-decoration: none;
position: absolute;
width: 126px;
height: 14px;
left: 99px;
top: 16px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.text-input {
position: relative;
width: 324px;
height: 44px;
border: 1px solid #F2F2F2;
border-radius: 4px;
display: flex;
justify-content: center;
top: 40px;
margin-top: 15px;
outline: none;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
}

.text-input:focus {
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
padding-left: 10px;
}

::placeholder {
padding-left: 20px;
height: 14px;
display: flex;
align-items: center;
color: #BEBEBE;
}

.checkbox-input {
position: relative;
width: 20px;
height: 20px;
left: 62px;
top: 55px;
border: 1px solid #F2F2F2;
cursor: pointer;
}

.label-for-agree {
position: relative;
width: 241px;
height: 20px;
left: 90px;
top: 32px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #434343;
cursor: pointer;
}

.span-for-agree {
color: rgba(60, 184, 120, 1);   
padding-left: 4px;

}

.span-for-agree:hover {
color: rgba(1, 129, 63, 1);
text-decoration: underline;
}

.btn-submit {
position: relative;
width: 324px;
height: 56px;
left: 60px;
top: 70px;
background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
border: none;
cursor: pointer; 
color: #FFFFFF;  
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px; 
}

.btn-submit:hover {
background: #01813F;
}